body{
    background-color: black;
}
#About{
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
 
}
.img{
    width: 100%;
    height: 100%;

   object-fit: cover;
border-radius: 15px;

}
